.welcome_banner {
	margin-top: -20px;
	text-align: center;
	font-size: 25px;
}
img.flying_goat_pic {
	height:300px; 
	width:1000px;
	margin-left: 12%;
}

.label1{
	margin-top: 10px;
	width: 25%;
	font-size: 20px;
	margin-left: 70px;
}

.messages {
	width: 50%;
	margin-left: 70px;
	height: 200px;
	font-size: 20px;
}

.crazy_goat_lady_pic{
	height: 300px;
	width: 300px;
	position: relative;
    top: -659px;
    right: 150px;
	float: right;
	
}
