<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <style type="text/css" >
body {
  min-width: 1005px; /* your desired width */
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}
</style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
  

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lil Twitter</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        <% if user_logged_in %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user.user_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/user/<%=@user.user_name%>">View Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/login">Log In</a></li>
          <li><a href="/sign_up">Sign Up</a></li>
        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


    <div class="container">
      <%= yield %>

    </div> <!-- /container -->

    
</body>
</html>