/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(welcome_page.css) ;

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    background: #ee0979;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*.show_stuff {
	display: grid;
	grid-template-rows: 1fr,1fr ;
	grid-template-columns:1fr, 49% ; 
	grid-template-areas: 
	"content_area content_area"
	"return_button fun";
}*/

.content_area {
	grid-area: content_area;
	min-height: 400px;
	min-width: 400px;
}

.return_button {
	grid-area: return_button;
	min-height: 150px;
	min-width: 200px;
}

.fun {
	grid-area: fun;
	min-height: 150px;
	min-width: 200px;
}