.show_stuff {
	display: grid;
	grid-template-rows: 1fr,1fr ;
	grid-template-columns:auto, auto ; 
	grid-template-areas: 
	"content_area content_area"
	"return_button fun_button";
}

.content_area {
	grid-area: content_area;
}

.return_button {
	grid-area: return_button;
}

.fun_button {
	grid-area: fun_button;
}