#post_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:25% 100px 30px 50px;
	grid-template-areas: 
	". . . ."
	". browse_button browse_button ."
	"website_input website_input website_input website_input"
	"back_button back_button ike_button ike_button";
	
	grid-row-gap: 10px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
   	width: 60%;
    margin:auto;
    margin-top: 15%;

    
    border-radius: 30px;
}

.browse_button {
	grid-area: browse_button;
	width: 100%;
	align-self: center;
	justify-self: center;

}

.website_input {
	grid-area: website_input;
	width: 100%;
	


}

.ike_button {
	grid-area: ike_button;
	width: 100%;
	font-size: 20px;
	border-bottom-right-radius: 30px;
	background: #DCE35B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border:none; 
}

.back_button {
	grid-area: back_button;
	width: 100%;
	
  	
  	background-color: #EEEEEE;
  	color: #333333;
 	text-align: center;
  	
  	padding-top: 25%;
  	border-bottom-left-radius: 30px;
  	background: #DCE35B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.back_link {
	text-decoration: none;
	font-size: 20px;
}


/*source https://css-tricks.com/examples/GradientBorder/*/
.ps-top-to-bottom { 
	position: relative; 
	border-top: 3px solid black; 
} 
.ps-top-to-bottom:before, .ps-top-to-bottom:after { 
	content: ""; 
	position: absolute; 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent)); 
	background-image: -webkit-linear-gradient(#000, transparent); 
	background-image: -moz-linear-gradient(#000, transparent); 
	background-image: -o-linear-gradient(#000, transparent); 
	background-image: linear-gradient(#000, transparent); 
	top: -3px; 
	bottom: -3px;
	width: 3px; 
	} 
.ps-top-to-bottom:before { 
	left: -3px; 
	} 
.ps-top-to-bottom:after { 
	right: -3px; 
}






