
	<div id="container">
		<div class="post_go"> <%= link_to "Post", new_article_path , class: "post_link" %>   </div> 
		<div class="fun_go"> <%= link_to "Fun!", articles_path, class: "fun_link" %> </div>
	</div>


