

canvas {
  display: block;
  margin-bottom: 0.5rem;
}



button {
  font-size: 1rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
  width: 49%;
}



audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}


