/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.title {
	display: block;
	font-size: 40px;
	margin-top: 7px;
}
.web-title {
	position: absolute;
	left: 50px;
}
.current_time {
	position: absolute;
	right: 50px;
}

#web-title_and_current_time{
	border-bottom: solid red;
	height: 41px;
}

#user_intro {
	border: solid red;
	position: sticky;
	display: inline-block;
	top: 0;
	margin-left: 17%;
	width: 32%;
	text-align: center;
}

#summon_create_post {
	display: inline-block;
	border: solid red;
	width: 10%;
	position: sticky;
	top: 0;
	text-align: center;
	margin-left: 5%;
}

#message_one {
	border: solid red;
	margin-top: 10px;
	text-align: center;
	
}

#message_one > p {
	font-size: 20px;
}

#filter_buttons {
	border: solid red;
}
#collection {
	width: 99%;
	position: relative;
	left: 1%;
	margin-left: 5px;	
}

.filter_button{
	background-color: #4CAF50; /* Green */
	border: none;
    color: white;
  	padding: 15px 32px;
    text-align: center; 
    font-size: 16px;
    cursor: pointer;
    display: inline-block; 
    width: 16%;    
}

#message_two {
	border: solid red;
	top: 0;
	width: 25%;
	text-align: center;
	margin:0 auto;
}

#awesome_table {
	border: solid red;
	top: 0;
	width: 75%;
	text-align: center;
	margin:0 auto;
}

th {
	border: solid red;
}

#head_short{
	width: 20%;
}

#head_wide{
	width: 60%;
}




